<h1> Detalle de venta del lote <%= @field_sale.field.code %> </h1>

<%= link_to '<i class= "hs-admin-back-left"></i> Volver a manzanas'.html_safe, apples_path, class: 'btn u-btn-blue mb-2 mr-2'%>
<%= link_to '<i class= "hs-admin-back-left"></i> Volver a lotes'.html_safe, apple_fields_path(@field_sale.field.apple), class: 'btn u-btn-primary mb-2 mr-2'%>

<input type="hidden" id="field_sale_id" value="<%= @id %>">
<div class="row mb-2">
<!-- Panel -->
  <%= render(partial: 'card_pay', locals: { color: 'lightblue-v3', paid: @sale.paid, detail: 'Primer entrega' })%>
  <%= render(partial: 'card_pay', locals: { color: 'teal-v2', paid: @total_pagado, detail: 'Pagado' })%>
  <%= render(partial: 'card_pay', locals: { color: 'lightred-v2', paid: @total_adeudado, detail: 'Adeuda' })%>
  <%= render(partial: 'card_pay', locals: { color: 'indigo', paid: @valor_lote, detail: 'Valor del lote' })%>
<!-- End Panel -->
</div>   

<div class="row ml-2">
  <strong>A nombre de:</strong>
  <ul>
    <% @sale.clients.each do |client| %>
      <li> <%= client.fullname %> </li>
    <% end %>
  </ul>
</div>
<div>
  <% if @sale.sales_payments.count > 0 %>
    <p><strong>Detalle primer entrega:</strong></p>
    <div class="row">
      <table class="table table-sm mx-4">
        <thead class="thead-light">
          <tr>
            <th>Moneda</th>
            <th>Ingresado</th>
            <th>Tomado en</th>
            <th>Total</th>
            <th>Adjunto</th>
          </tr>
        </thead>
        <tbody>
          <% @sale.sales_payments.each do |payment|%>
            <tr>
              <td><%= payment.currency.name %></td>
              <td><%= format_currency( payment.value ) %></td>
              <td><%= "$#{format_currency( payment.tomado_en ) }" %></td>
              <td><%= "$#{format_currency( payment.value_in_pesos ) }" %></td>
              <td>
                <%payment.images.each do |img| %>
                  <%= link_to img, target: '_blank' do %>
                    <%= image_tag img.variant(resize: "100x100"), class: 'img-thumbnail m-2' %>
                  <%end%>
                <% end %>
              </td>
            </tr>
          <%end%>
        </tbody>  
      </table>
    </div>
  <% end %>
</div>

<div class="row ml-2 mb-4" id="cant_cuotas_pagadas">
  <strong class="mr-1">Cuotas pagadas: </strong> <%= "#{@cuotas_pagadas}/#{@total_cuotas}" %>
  <strong class="ml-4 mr-1">Cuotas vencidas: </strong> <%= @cant_vencidas %>
</div>
<table id="field_sale_table" class="table hover dt-responsive w-100">
  <thead>
    <tr>
      <th>#</th>
      <th>Valor</th>
      <th>Ajuste</th>
      <th>Fecha vencimiento</th>
      <th id="total_debe"> Debe <b>($<%= format_currency(@land_fees.sum(:owes) ) %>)</b></th>
      <th id="total_haber"> Haber <b>($<%= format_currency(@land_fees.sum(:payment) ) %>)</b></th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<!-- Modal pagar cuota -->
<div class="modal fade" id="modal-field-sale" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

<!-- Modal detalle de pago -->
<div class="modal fade" id="modal-pay-detail" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

