<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= @title_modal%></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul>
        <% if @cuota.interest > 0 %>
          <li> Interes pagado: <b>$<%= @cuota.interest %></b> </li>
        <% end %>

        <% if @cuota.adjust > 0 %>
          <li> Ajuste: <b>$<%= @cuota.adjust %></b> </li>
          
        <% end %>

        <li> Total pagado: <b>$<%= @cuota.payment %></b> </li>
      </ul>
      <div class="row col-10">
        <p>Pagos realizados</p>
        <table class="table w-100">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Moneda</th>
              <th>Ingreso</th>
              <th>Tomado en</th>
              <th>Total</th>
              <th>Adjuntos</th>
            </tr>
          </thead>
          <tbody>
            <% @cuota.land_fee_payments.each do |payment|%>
              <tr>
                <td><%= payment.pay_date.strftime('%d-%m-%y') %></td>
                <th><%= payment.currency.name %></th>
                <% if payment.currency.id == 4 %>
                  <th><%= "$#{payment.payment}" %></th>
                <%else%>
                  <th><%= "#{payment.currency.name}#{payment.payment}" %></th>
                <%end%>
                <th><%= "$#{payment.tomado_en}" %></th>
                <th><%= "$#{payment.total}" %></th>
                <th>
                  <% payment.images.each do |image| %>
                    <%= link_to '<i class="hs-admin-image"></i>'.html_safe, image, target: '_blank', class: 'btn u-btn-teal' %>
                  <% end %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>              
    </div>
    <div class="mb-2 ml-2">
      <button type="button" class="btn u-btn-teal" data-dismiss="modal" aria-label="Close"> Cerrar </button>
    </div>
  </div>
</div>