<p id="notice"><%= notice %></p>

<p>
  <strong>Rol:</strong>
  <%= @user.rol %>
</p>

<p>
  <strong>Clients:</strong>
  <%= @user.clients %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
