<%= form_with(model: [ @fee, @fee.fee_payments.build ], id: 'register-fee-payment',
              class: 'needs-validation g-brd-around g-brd-gray-light-v4 g-pa-10 g-mb-10') do |form| %>
  <div id="owes_value" class="mb-2"></div>

  <div class="form-group row">
    <%= form.label :pay_date, 'Fecha:' , class: 'col-3' %>
    <%= form.date_field :pay_date, class: 'form-control rounded-0 col-6', required: true %>
    <div class="invalid-feedback field_price"></div>
  </div>

  <div class="form-group row">
    <%= form.label :payment_entered, 'Ingresar pago $:' , class: 'col-3' %>
    <select name="currency_id" id="currency_id" class="col-1 mr-2 form-control rounded-0">
      <% @currencies.each do |currency| %>
        <option value="<%= currency.id %>"><%= currency.name %></option>
      <%end%>
    </select>
    <%= form.number_field :payment, class: 'form-control rounded-0 col-2 ml-2', step:'0.01' , required: true %>
    <%= form.number_field :value_in_pesos, class: 'form-control rounded-0 col-2 ml-2 ', step:'0.01', placeholder: '', style: 'display:none' %>
    <%= form.number_field :calculo_en_pesos, class: 'form-control rounded-0 col-2 ml-2 ' , placeholder: 'Calculo valor en $',  style: 'display:none', disabled:true %>
    <%= form.text_field :name_pay, class: 'form-control rounded-0 col-2 ml-2 ', placeholder: 'Detalle entrega', value: '' %>
    <label class="u-file-attach-v2 g-color-gray-dark-v5 mb-0 ml-2">
      <input id="fee-images" name="fee-images[]" type="file">
      <i class="icon-cloud-upload g-font-size-16 g-pos-rel g-top-2 g-mr-5"></i>
      <span class="js-value"></span>
    </label>
  </div>

  <div class="form-group">
    <%= form.text_area :comment, 
        class: 'form-control form-control-md u-textarea-expandable g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-resize-none g-overflow-hidden',
          row: '3', placeholder: 'Comentario...'%>
  </div>

  <div class="actions">
    <button id="submit-fee-payment" type="button" class="btn u-btn-teal mr-2"> Guardar </button>
    <button type="button" class="btn u-btn-red" data-dismiss="modal" aria-label="Close"> Cancelar </button>
  </div>
<% end %>
