<%= form_with(model: client_field, local: true) do |form| %>
  <% if client_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_field.errors.count, "error") %> prohibited this client_field from being saved:</h2>

      <ul>
      <% client_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :field_id %>
    <%= form.text_field :field_id %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
