<%= form_with(model: @client_field, class: 'needs-validation g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30') do |form| %>

  <div class="form-group row">
    <div class="col-4 col-lg-3">
      <%= form.label :client_id, 'Cliente (*)' %>
    </div>
    <div class="form-group col-8 col-ls-6">
      <%= form.select(:client_id, @clients.collect {|c| ["#{c.last_name} #{c.name}", c.id]}, 
                      {:include_blank => "Seleccione comprador"},
                      class: 'select-2-client-field') %>
      <button id="add-client" class="bnt u-btn-primary"> + </button>
    </div>
  </div>

  <div class="form-group row">
    <ul class="client-list">
      
    </ul>
  </div>

  <div class="field">
    <%= form.label :field_id %>
    <%= form.text_field :field_id %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>
  <div class="actions">
    <button id="btnSubmit" type="button" class="btn u-btn-teal mr-2"> Guardar </button>
    <button type="button" class="btn u-btn-red" data-dismiss="modal" aria-label="Close"> Cancelar </button>
  </div>
<% end %>
