<h1>Proyectos</h1>
<%= link_to 'Agregar projecto', new_project_path,'class' => 'btn u-btn-primary justify-content-end mb-2' %>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Inverfinientes/Funcion</th>
      <th>Materiales</th>
      <th >Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.number %></td>
        <td><%= project.name %></td>
        <td><%= project.providers.first %></td>
        <td><%= project.materials.first %></td>
        <td>btn</td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Modal alta de apple -->
<div class="modal fade" id="modal-project" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->