<h1> Lote <%= @sale_product.product.code %> - <%= @sale_product.product.apple.code %> - <%= @sale_product.product.apple.condominium.name %> </h1>

<%= link_to '<i class= "hs-admin-back-left"></i> Volver a manzanas'.html_safe, 
  apples_path, class: 'btn u-btn-blue mb-2 mr-2'%>
<%= link_to '<i class= "hs-admin-back-left"></i> Volver a lotes'.html_safe, 
  apple_lands_path(@sale_product.product.apple), class: 'btn u-btn-primary mb-2 mr-2'%>

<input type="hidden" id="sale_id" value="<%= @sale.id %>">
<div class="row mb-2">
  <%= render(partial: 'card_pay', locals: { color: 'lightblue-v3', paid: @sale.get_primer_pago, detail: 'Primer entrega' })%>
  <%= render(partial: 'card_pay', locals: { color: 'teal-v2', paid: @total_pagado, detail: 'Pagado' })%>
  <%= render(partial: 'card_pay', locals: { color: 'lightred-v2', paid: @total_adeudado, detail: 'Adeuda' })%>
  <%= render(partial: 'card_pay', locals: { color: 'indigo', paid: @product_value, detail: 'Valor del lote' })%>
</div>   

<div class="row ml-2">
  <strong>A nombre de:</strong>
  <ul>
    <% @sale.clients.each do |client| %>
      <li> <%= client.fullname %> </li>
    <% end %>
  </ul>
</div>
<div>
  <% if @sale.fees.where(number: 0).count > 0 %>
    <p><strong>Detalle primer entrega:</strong></p>
    <div class="row">
      <table class="table table-sm mx-4">
        <thead class="thead-light">
          <tr>
            <th>Moneda</th>
            <th>Ingresado</th>
            <th>Tomado en</th>
            <th>Total</th>
            <th>Detalle</th>
            <th>Adjunto</th>
          </tr>
        </thead>
        <tbody>
          <% @sale.fees.where(number: 0).first.fee_payments.each do |payment|%>
            <tr>
              <td><%= payment.currency.name %></td>
              <td><%= format_currency( payment.payment ) %></td>
              <td><%= "$#{format_currency( payment.tomado_en ) }" %></td>
              <td><%= "$#{format_currency( payment.total ) }" %></td>
              <td><%= payment.pay_name %></td>
              <td>
                <%payment.images.each do |img| %>
                  <%= link_to img, target: '_blank' do %>
                    <%= image_tag img.variant(resize: "100x100"), class: 'img-thumbnail m-2' %>
                  <%end%>
                <% end %>
              </td>
            </tr>
          <%end%>
        </tbody>  
      </table>
    </div>
  <% end %>
</div>

<div class="row ml-2 mb-4 justify-content-between" id="cant_cuotas_pagadas">
  <div class="col-auto mr-auto">
    <strong class="mr-1">Cuotas pagadas: </strong> <%= "#{@cuotas_pagadas}/#{@total_cuotas}" %>
    <strong class="ml-4 mr-1">Cuotas vencidas: </strong> <%= @cant_vencidas %>
  </div>
  <div class="col-auto">
    <a href="#"
      onclick="sale.modal_reset_payments(<%= @sale.id %>)" 
      class="btn u-btn-outline-pink u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-10 g-mr-10 g-mb-15"> Eliminar pagos
      <i class="fa fa-trash g-ml-3"></i>
    </a>
  </div>
</div>
<table id="sale_product_table" class="table hover dt-responsive w-100">
  <thead>
    <tr>
      <th>#</th>
      <th>Valor</th>
      <th>Ajuste</th>
      <th>Fecha vencimiento</th>
      <th id="total_debe"> Debe <b>($<%= format_currency(@fees.sum(:owes) ) %>)</b></th>
      <th id="total_haber"> Haber <b>($<%= format_currency(@fees.sum(:payment) ) %>)</b></th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<!-- Modal pagar cuota -->
<div class="modal fade" id="modal-sale-product" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

<!-- Modal detalle de pago -->
<div class="modal fade" id="modal-pay-confirm" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

<!-- Modal para resetear pagos -->
<div class="modal fade" id="modal-reset-payments" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de eliminar los pagos ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          Los pagos eliminados seran irrecuperables.
        </div>
        <%= form_with(url: '#', id: 'form-reset-payments') %>
          <input type="hidden" id="sale_id" name="sale[id]" value="">
          <button type="button" 
            onclick="sale.reset_payments()" 
            class="btn u-btn-red g-mr-10">Eliminar
          </button>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal -->