<%= form_with( model: @fee, class: 'needs-validation g-brd-around g-brd-gray-light-v4 g-pa-10 g-mb-10', id: 'form-field-pay-quote' ) do |form| %>
  <p id='valor_cuota'> Valor de la cuota: <b> $ <%= format_currency( @fee.total_value ) %> </b></p>
  <% if @adeuda > 0 %>
    <p> Adeuda de cuota anterior: <b> $ <%= format_currency( @adeuda ) %> </b></p>
  <% end %>

  <div id="esta_vencido" style="display:">
    <label class="u-label g-bg-darkred g-mr-10 g-mb-15"> Cuota vencida  </label> ( <%= @fee.due_date.strftime('%d-%m-%y') %> )
      <div class="form-group">
        <label class="form-check-inline u-check g-pl-25">
          <%= form.check_box :aply_interest, class: 'g-hidden-xs-up g-pos-abs g-top-0 g-left-0' %>
<!--           <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" checked="" id="fee_aply_interest" name="fee[aply_interest]"> -->
          <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
            <i class="fa" data-check-icon=""></i>
          </div>
          <p> Aplicar interes del <b><%= @porcentaje_interes %>% diario</b> ? </p>  
        </label>
      </div>
      <div class="form-group row g-pos-rel">
        <%= form.label :interest, 'Recargo sugerido $:' , class: 'col-3' %>
        <%= form.number_field :interest, class: 'form-control rounded-0 col-3', step:'0.01'%>
        <div class="invalid-feedback field_price"></div>
      </div>
  </div>

  <div class="form-group row">
    <%= form.label :adjust, 'Ajuste $:' , class: 'col-3' %>
    <%= form.number_field :adjust, class: 'form-control rounded-0 col-3', step:'0.01', value: 0 %>
    <div class="invalid-feedback field_price"></div>
  </div>

  <div class="form-group">
    <%= form.text_area :comment_adjust,
        class: 'form-control form-control-md u-textarea-expandable g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-resize-none g-overflow-hidden', 
          row: '3', placeholder: 'Motivo del ajuste...'%>
  </div>

  <div class="form-group row">
    <%= form.label :total_to_pay, 'Total a pagar $:' , class: 'col-3' %>
    <%= form.number_field :total_to_pay, class: 'form-control rounded-0 col-3', step:'0.01' , value: @total_a_pagar, disabled: true %>
    <div class="invalid-feedback field_price"></div>
  </div>

  <%= form.label :payment_entered, 'Ingresar pago $:' , class: 'font-weight-bold' %>
  <div class="form-group row ml-4">
    <select name="currency_id" id="currency_id" class="col-1 mr-2 form-control rounded-0">
      <% @currencies.each do |currency| %>
        <option value="<%= currency.id %>"><%= currency.name %></option>
      <%end%>
    </select>
    <%= form.number_field :payment, class: 'form-control rounded-0 col-2 ml-2', step:'0.01' , required: true %>
    <%= form.number_field :value_in_pesos, class: 'form-control rounded-0 col-2 ml-2 ', step:'0.01', placeholder: '', style: 'display:none' %>
    <%= form.number_field :calculo_en_pesos, class: 'form-control rounded-0 col-2 ml-2 ' , placeholder: 'Calculo valor en $',  style: 'display:none', disabled:true %>
    <%= form.text_field :name_pay, class: 'form-control rounded-0 col-2 ml-2 ', placeholder: 'Detalle entrega', value: '' %>
    <label class="u-file-attach-v2 g-color-gray-dark-v5 mb-0 ml-2">
      <input id="fee-images" name="fee-images[]" type="file" multiple>
      <i class="icon-cloud-upload g-font-size-16 g-pos-rel g-top-2 g-mr-5"></i>
      <span class="js-value"></span>
    </label>
  </div>
  <div class="form-group row">
    <div class="col-4 col-lg-3">
      <%= form.label :pay_date, 'Fecha' %>
    </div>
    <div class="form-group col-8 col-ls-6">
      <%= form.date_field :pay_date, class: 'form-control rounded-0 col-6', required: true %>
    </div>
    <div class="invalid-feedback msg_fecha_compra"></div>
  </div>
  <div class="form-group">
    <%= form.text_area :comment, 
        class: 'form-control form-control-md u-textarea-expandable g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-resize-none g-overflow-hidden', 
          row: '3', placeholder: 'Comentario...'%>
  </div>

  <div class="actions">
    <button id="submit-form-field-pay-quote" type="button" class="btn u-btn-teal mr-2 btnSubmit"> Guardar </button>
    <button type="button" class="btn u-btn-red" data-dismiss="modal" aria-label="Close"> Cancelar </button>
  </div>
<% end %>
