    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Logo -->
            <%= link_to root_path, class: 'navbar-brand' do %>
              <img class="img-fluid" src="/assets/logo.png" alt="logo" />
            <% end %>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
              <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <%= link_to 'Intro', root_path, class: 'nav-link g-py-7 g-px-0'%>
                </li>
                <!-- Sectores -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                  <%= link_to 'Sectores', root_path, class: 'nav-link g-py-7 g-px-0', aria: { haspopup: true, expanded: false, controls: 'nav-submenu-sectors'}, data: { toggle: "dropdown" }, id: 'nav-link--sectors'  %>
                  <!-- <a id="nav-link--features" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--features">Features</a> -->
                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--sectors" aria-labelledby="nav-link--sectors">
                    <li class="dropdown-item ">
                      <%= link_to 'Sectores', root_path, class: 'nav-link'%>
                    </li>
                    <li class="dropdown-item hs-has-sub-menu ">
                      <%= link_to 'Manzanas', root_path, class: 'nav-link', 
                                  aria: { haspopup: true, expanded: false, controls: 'nav-submenu-sectors--sliders'},
                                  id: 'nav-link--sectors--sliders' %>
                      <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--sectors--sliders" aria-labelledby="nav-link--sectors--sliders">
                        <li class="dropdown-item ">
                           <%= link_to 'Example', root_path, class: 'nav-link'%>
                        </li>
                        <li class="dropdown-item ">
                           <%= link_to 'Example', root_path, class: 'nav-link'%>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <!-- End Sectores -->
              </ul>
            </div>
            <!-- End Navigation -->

            <div class="ml-2 d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
              <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream" target="_blank">Purchase now</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->