<!DOCTYPE html>
<html>
  <head>
    <title>Fidesur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= render('layouts/navbar') %>
    <%= render('layouts/sidebar') %>
    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
      <div class="g-pa-20">
        <%= yield %>
      </div>
    </div>

    <!-- Modal general -->
    <div class="modal fade" id="modal-fidesur" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    </div>
    <!-- End modal general -->
      <%= render('layouts/footer') %>
        </div>
      </div>
  <% else %>
    <%= yield %>
  <% end %>
    </main>
  </body>
</html>
