<!DOCTYPE html>
<html>
  <head>
    <title>Fidesur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main>
      <%= render('layouts/navbar') %>
      <%= yield %>
    </main>
  </body>
</html>
